.flag-bookmark {
  margin-bottom: 1em;
}
.flag-bookmark a {
  text-decoration: none;
  line-height: 1.15;
}
.flag-bookmark .title {
  display: flex;
  align-items: center;
}
.flag-bookmark .title .dc-icon {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.15em;
}
.flag-bookmark .title:hover,
.flag-bookmark .title:active,
.flag-bookmark .title:focus {
  text-decoration: underline;
}
.flag-bookmark .count {
  display: block;
  margin-left: 1.65em;
}

.dc-2col-table .dc-table-row .dc-table-col-last {
  width: 25%;
}
.dc-2col-table caption {
  font-weight: 600;
  font-size: 1.25em;
}
.dc-2col-table table {
  margin-bottom: 3em;
}
.dc-2col-table table:last-child {
  margin-bottom: auto;
}
