@font-face {
  font-display: block;
  font-family: "bootstrap-icons";
  src: url("/themes/contrib/bcbb_theme/assets/bootstrap-icons/fonts/bootstrap-icons.woff2") format("woff2"), url("/themes/contrib/bcbb_theme/assets/bootstrap-icons/fonts/bootstrap-icons.woff") format("woff");
}
@media only screen and (min-width: 992px) {
  .grid-dc-container {
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "content . bookmark" "content . sidebar-right" "content . sidebar-right";
  }
}

.grid-mr-bookmark {
  grid-area: bookmark;
}

.grid-dc-content {
  grid-area: content;
}

.grid-dc-sidebar-right {
  grid-area: sidebar-right;
}

.path-user .block-region-top-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 576px) {
  .path-user .block-region-top-right {
    height: 100%;
  }
}

.path-taxonomy .content {
  margin-bottom: 1.37em;
}
.path-taxonomy .content .info-schedule-details,
.path-taxonomy .content .field--name-description {
  margin-top: 1.25em;
}

.flag-bookmark {
  margin-bottom: 1em;
}
.flag-bookmark a {
  text-decoration: none;
  line-height: 1.15;
}
.flag-bookmark .title {
  display: flex;
  align-items: center;
}
.flag-bookmark .title .dc-icon {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.15em;
}
.flag-bookmark .title:hover, .flag-bookmark .title:active, .flag-bookmark .title:focus {
  text-decoration: underline;
}
.flag-bookmark .count {
  display: block;
  margin-left: 1.65em;
}

.dc-2col-table .dc-table-row .dc-table-col-last {
  width: 25%;
}
.dc-2col-table caption {
  font-weight: 600;
  font-size: 1.25em;
}
.dc-2col-table table {
  margin-bottom: 3em;
}
.dc-2col-table table:last-child {
  margin-bottom: auto;
}

.views-table tbody tr td {
  padding: 1em 0.5em 1.5em;
}

.dc-table-row-has-actions tr td:last-child {
  white-space: nowrap;
}

@media only screen and (min-width: 992px) {
  .dc-save-search {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-300);
    border-radius: var(--bs-border-radius);
  }
  .dc-save-search .toggle {
    border: 0;
    padding: 1em 1em 1em 1em;
    font-weight: 600;
    text-align: left;
  }
  .dc-save-search .toggle::before {
    content: " \f525" !important;
  }
}

.dc-fields .field__label, .dc-fields .field--label-inline {
  font-weight: normal;
}
.dc-fields .field--label-inline {
  display: flex;
}
.dc-fields .field--label-inline > * {
  flex-basis: 50%;
}
.dc-fields .field__items {
  margin-bottom: 0.5rem !important;
}

ul.dc-list-inline, ol.dc-list-inline {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0;
}
ul.dc-list-inline li::after, ol.dc-list-inline li::after {
  content: ",";
  padding-right: 0.5em;
}
ul.dc-list-inline li:last-child::after, ol.dc-list-inline li:last-child::after {
  content: "";
  padding-right: 0;
}

.field_visibility_success .field__label {
  display: inline-flex;
  align-items: center;
}
.field_visibility_success .field__label:before {
  display: inline-block;
  width: 0.87em;
  height: 0.87em;
  content: "";
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: var(--bs-success);
}

.field_visibility_warning .field__label {
  display: inline-flex;
  align-items: center;
}
.field_visibility_warning .field__label:before {
  display: inline-block;
  width: 0.87em;
  height: 0.87em;
  content: "";
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: var(--bs-warning);
}

.field_visibility_danger .field__label {
  display: inline-flex;
  align-items: center;
}
.field_visibility_danger .field__label:before {
  display: inline-block;
  width: 0.87em;
  height: 0.87em;
  content: "";
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: var(--bs-danger);
}

@media only screen and (min-width: 992px) {
  .dc-grid-2col-operations-lg {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1.5em;
  }
}

.path-user .dashboard-page .view-row, .path-user .card-group-region .card > div > .view .view-content .view-row {
  padding: 0.75em 1.5em;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.path-user .dashboard-page .view-row .flag-bookmark, .path-user .card-group-region .card > div > .view .view-content .view-row .flag-bookmark {
  margin-top: 1.67em;
}
@media only screen and (min-width: 992px) {
  .path-user .dashboard-page .view-row, .path-user .card-group-region .card > div > .view .view-content .view-row {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1.5em;
  }
}
@media only screen and (min-width: 992px) {
  .path-user .dashboard-page .view-row .flag-bookmark, .path-user .card-group-region .card > div > .view .view-content .view-row .flag-bookmark {
    margin-top: auto;
  }
}
.path-user .dashboard-page .view-row:last-child, .path-user .card-group-region .card > div > .view .view-content .view-row:last-child {
  padding-bottom: 0;
}
.path-user .dashboard-page .view-row:last-child, .path-user .card-group-region .card > div > .view .view-content .view-row:last-child {
  border-bottom: 0 !important;
  margin-bottom: 4em;
}
.path-user .block-views-blockdashboard-moderation-blocks-dashboard-unpublished .form--inline,
.path-user .block-views-blockdashboard-blocks-dashboard-needs-review .form--inline {
  display: flex;
  align-items: flex-end;
}
.path-user .top-left-region .block-webform-block {
  height: 100%;
}
.path-user .block-views-blockdashboard-moderation-blocks-dashboard-unpublished,
.path-user .block-views-blockdashboard-blocks-dashboard-needs-review {
  border-top: 1px solid #fcba19;
  padding: 2em 0;
}
.path-user .block-views-blockdashboard-moderation-blocks-dashboard-unpublished table tbody tr:last-child,
.path-user .block-views-blockdashboard-blocks-dashboard-needs-review table tbody tr:last-child {
  border-bottom: 0 solid transparent;
}
.path-user .block-views-blockdashboard-blocks-dashboard-needs-review {
  padding-bottom: 0;
}
.path-user .top-right-region {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.path-user .top-right-region .bcbb-search-api-form {
  align-self: start;
}
.path-user .top-right-region .block-bc-dc-content-summary {
  align-self: end;
}
.path-user .card-group-region .block-views-blockbookmarks-dashboard-bookmarks > h2 {
  display: inline-flex !important;
  width: auto;
  line-height: 1 !important;
  gap: 0.25em;
  align-items: center;
  text-decoration: none;
}
.path-user .card-group-region .block-views-blockbookmarks-dashboard-bookmarks > h2::before, .path-user .card-group-region .block-views-blockbookmarks-dashboard-bookmarks > h2::after {
  font-family: "bootstrap-icons" !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.path-user .card-group-region .block-views-blockbookmarks-dashboard-bookmarks > h2::before {
  content: "\f1a3";
}
.path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search > h2 {
  display: inline-flex !important;
  width: auto;
  line-height: 1 !important;
  gap: 0.25em;
  align-items: center;
  text-decoration: none;
}
.path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search > h2::before, .path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search > h2::after {
  font-family: "bootstrap-icons" !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search > h2::before {
  content: "\f52a";
}
.path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search .btn {
  font-size: 0.875em;
}
@media only screen and (max-width: 992px) {
  .path-user .card-group-region .block-views-blocksaved-searches-dashboard-saved-search .btn {
    margin-top: 1em;
    padding: 0.15em 0.5em;
  }
}
.path-user .card-group-region .card {
  display: flex;
  flex-direction: column;
}
.path-user .card-group-region .card > h2 {
  font-size: 1.2em;
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  margin-left: 0;
  padding: 0.75em 1.5em 0.75em 2.5em;
}
.path-user .card-group-region .card > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.path-user .card-group-region .card > div > .view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.path-user .card-group-region .card > div > .view .view-content {
  font-size: 0.875em;
  flex-grow: 1;
}
.path-user .card-group-region .card .view-footer .card-footer {
  font-size: 0.875em;
  padding: 0.75em 1.5em;
}
@media only screen and (min-width: 992px) {
  .path-user .dashboard-page .views-exposed-form .form--inline {
    display: flex;
    align-items: flex-end;
  }
}
.path-user .dashboard-page .view-row {
  padding-left: 0;
  padding-right: 0;
}

.dc-global-report {
  margin-top: 3em;
}
.dc-global-report .block-bc-dc-published-records,
.dc-global-report .block-bc-dc-overdue-records,
.dc-global-report .block-bc-dc-critical-records,
.dc-global-report .block-bc-dc-authoritative-records {
  font-weight: bold;
  text-align: center;
}
.dc-global-report .block-bc-dc-published-records .dc-count,
.dc-global-report .block-bc-dc-overdue-records .dc-count,
.dc-global-report .block-bc-dc-critical-records .dc-count,
.dc-global-report .block-bc-dc-authoritative-records .dc-count {
  font-size: 1.5em;
  margin-bottom: 0;
}
@media only screen and (min-width: 576px) {
  .dc-global-report .block-bc-dc-published-records .dc-count,
  .dc-global-report .block-bc-dc-overdue-records .dc-count,
  .dc-global-report .block-bc-dc-critical-records .dc-count,
  .dc-global-report .block-bc-dc-authoritative-records .dc-count {
    font-size: 3em;
  }
}
@media only screen and (min-width: 576px) {
  .dc-global-report .footer-region {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
  }
  .dc-global-report .footer-region .block-views-blockmost-viewed-block-1 {
    grid-column: 1/-1;
  }
}
.dc-global-report .footer-region .bcdc-dashboard-card h2 {
  font-size: 1.2em;
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
  margin-left: 0;
  padding: 0.75em 1.5em 0.75em 2.5em;
}
.dc-global-report .footer-region .block-views-blockmost-viewed-block-1 {
  border-top: 1px solid #fcba19;
  margin-top: 2em;
  padding: 2em 0;
}
@media only screen and (min-width: 992px) {
  .dc-global-report .footer-region .block-views-blockmost-viewed-block-1 .views-exposed-form .form--inline {
    display: flex;
    align-items: flex-end;
  }
}
.dc-global-report .footer-region .block-views-blockmost-viewed-block-1 .views-table tr:last-child {
  border-bottom: 0 solid transparent;
}
.dc-global-report div[class*=footer] .card-body {
  max-width: 100%;
  overflow-y: auto;
}

.dc-lineage {
  border: 0px;
}
.dc-lineage summary {
  padding: 0;
  margin-bottom: 1em;
}
.dc-lineage .dc-lineage-datasets-used ul,
.dc-lineage .dc-lineage-used-in-datasets ul {
  border: 0.15em solid #003366;
  padding: 1em 1em 1em 2em;
  margin-bottom: 0 !important;
  border-radius: 0.5em;
}
.dc-lineage .dc-lineage-datasets-used ul li,
.dc-lineage .dc-lineage-used-in-datasets ul li {
  padding-bottom: 0.5em;
}
.dc-lineage .dc-lineage-datasets-used ul li:last-child,
.dc-lineage .dc-lineage-used-in-datasets ul li:last-child {
  padding-bottom: 0;
}
.dc-lineage .dc-lineage-this-dataset {
  border: 0.15em solid #003366;
  background: #003366;
  color: #fff;
  padding: 1.25em 1em;
  border-radius: 0.5em;
}
.dc-lineage .dc-arrow-down {
  color: #003366;
  padding-bottom: 0.15em;
  display: flex;
  justify-content: center;
}

.page-node-type-data-set .dc-details details {
  border: 0 solid transparent;
}
.page-node-type-data-set .dc-dictionary {
  padding-right: 1.25em;
}
.page-node-type-data-set .dc-dictionary .field {
  margin-bottom: 1.5em;
}
.page-node-type-data-set .dc-dictionary:last-child {
  border-bottom: 1px solid var(--bs-dark-border-subtle);
}
.page-node-type-data-set .dc-dictionary .field__label {
  font-weight: normal;
  font-style: oblique;
}
.page-node-type-data-set .dc-dictionary .field--label-inline {
  display: flex;
  flex-direction: column;
}
.page-node-type-data-set .dc-dictionary .field--label-inline .field__label::after {
  content: "";
}
@media only screen and (min-width: 992px) {
  .page-node-type-data-set .dc-dictionary .field--label-inline {
    flex-direction: row;
  }
  .page-node-type-data-set .dc-dictionary .field--label-inline .field__label {
    min-width: 25%;
    max-width: 25%;
  }
  .page-node-type-data-set .dc-dictionary .field--label-inline .field__label::after {
    content: ":";
  }
}
.page-node-type-data-set .dc-details .item-list ul {
  list-style: none;
  margin: 0;
}
.page-node-type-data-set .dc-details .item-list ul li {
  margin: 0;
}
.page-node-type-data-set .dc-details .item-list ul li a {
  display: inline-flex !important;
  width: auto;
  line-height: 1 !important;
  gap: 0.25em;
  align-items: center;
  text-decoration: none;
}
.page-node-type-data-set .dc-details .item-list ul li a::before, .page-node-type-data-set .dc-details .item-list ul li a::after {
  font-family: "bootstrap-icons" !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-node-type-data-set .dc-details .item-list ul li a::before {
  content: "\f29a";
}
.page-node-type-data-set .meta-data-record-view .field--name-field-data-set-type *,
.page-node-type-data-set .meta-data-record-build .field--name-field-data-set-type * {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1em;
}
.page-node-type-data-set .meta-data-record-view .field--name-field-data-set-type *.field__label,
.page-node-type-data-set .meta-data-record-build .field--name-field-data-set-type *.field__label {
  padding-right: 0.5em !important;
}
.page-node-type-data-set .meta-data-record-view .field--name-field-data-set-type * li::after,
.page-node-type-data-set .meta-data-record-build .field--name-field-data-set-type * li::after {
  margin: 0 0.25em;
}
.page-node-type-data-set .field--name-field-data-custodian .field__label {
  font-weight: normal;
}
.page-node-type-data-set .dc-subfooter {
  background: var(--bs-gray-100);
  border-top: 1px solid var(--bs-gray-200);
}
.page-node-type-data-set .dc-subfooter .container {
  padding: 1em 1em 1.5em 1em;
}
.page-node-type-data-set .node--view-mode-full .block-bc-dc,
.page-node-type-data-set .node--view-mode-full .dataset-alerts {
  display: inline-block;
}
@media only screen and (min-width: 576px) {
  .page-node-type-data-set .node--view-mode-full .block-bc-dc,
  .page-node-type-data-set .node--view-mode-full .dataset-alerts {
    margin-bottom: 0.5rem;
  }
}
.page-node-type-data-set a[href^="/search?"] {
  background-image: url(../assets/icon_search_link.svg);
  background-repeat: no-repeat;
  padding-right: 1.4em;
  background-position: right 0.15em;
  background-size: 1em 1em;
}
.page-node-type-data-set .block-bc-dc-workflow-block {
  background-color: RGBA(var(--bs-light-rgb));
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  padding: 1rem;
}
.page-node-type-data-set .block-bc-dc-workflow-block input.button {
  width: 100%;
}
.page-node-type-data-set .node-data-set-edit-form > div {
  margin-bottom: 2em;
}
.page-node-type-data-set .node-data-set-edit-form input, .page-node-type-data-set .node-data-set-edit-form select {
  max-width: 45em;
}
.page-node-type-data-set .node-data-set-edit-form .form-actions {
  text-align: left;
}
.page-node-type-data-set .node-data-set-edit-form .description {
  margin-top: 0.25em;
  color: var(--bs-gray-600);
  max-width: 45em;
  display: inline-flex !important;
  width: auto;
  line-height: 1 !important;
  gap: 0.25em;
  align-items: center;
  text-decoration: none;
  display: block !important;
  position: relative;
  line-height: unset !important;
}
.page-node-type-data-set .node-data-set-edit-form .description::before, .page-node-type-data-set .node-data-set-edit-form .description::after {
  font-family: "bootstrap-icons" !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-node-type-data-set .node-data-set-edit-form .description::before {
  content: "\f431";
}
.page-node-type-data-set .node-data-set-edit-form .description::before {
  padding-right: 0.5em;
  position: absolute;
  top: 0.075em;
}
.page-node-type-data-set .node-data-set-edit-form .field--name-field-review-interval label {
  width: 100%;
}
.page-node-type-data-set .node-data-set-edit-form .field--name-field-review-interval .form-number,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-review-interval .field-suffix {
  display: inline;
  max-width: 6em;
}
.page-node-type-data-set .node-data-set-edit-form #edit-field-personal-information {
  display: flex;
  gap: 1em;
}
.page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used {
  background: var(--bs-gray-100);
  border: 1px solid var(--bs-gray-200);
  padding: 1em;
  border-radius: var(--bs-border-radius-sm);
}
.page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column th, .page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column td,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used th,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used td {
  background-color: transparent;
  border: 0 transparent;
}
.page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column .field-add-more-submit,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used .field-add-more-submit {
  background-color: var(--bs-gray-700);
  color: var(--bs-white);
}
.page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column .field-add-more-submit:hover, .page-node-type-data-set .node-data-set-edit-form .edit-data-dictionary-column .field-add-more-submit:focus,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used .field-add-more-submit:hover,
.page-node-type-data-set .node-data-set-edit-form .field--name-field-data-sets-used .field-add-more-submit:focus {
  background-color: var(--bs-gray-800);
}

.node--unpublished {
  background-color: transparent;
}

.path-frontpage .region-content {
  margin-top: 3em;
  margin-bottom: 2em;
}
@media only screen and (min-width: 576px) {
  .path-frontpage .region-content .layout__region--first {
    padding-right: 3rem;
  }
}
.path-frontpage .region-content .layout__region--second {
  background-color: RGBA(var(--bs-light-rgb));
  border: var(--bs-border-width) solid var(--bs-border-color-translucent);
  border-radius: var(--bs-border-radius);
  padding: 2rem 1.5rem 1rem;
}
@media screen and (min-width: 40em) {
  .path-frontpage .region-content .layout__region--second {
    background-image: url(../assets/trees.svg);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
  }
}

@media only screen and (min-width: 992px) {
  nav.navigation.menu--footer .navbar-nav {
    flex-direction: row;
  }
}

.block-bc-dc-org-footer {
  border-bottom: 1px solid var(--bs-dark-border-subtle);
  margin-bottom: 1.15em;
}
.block-bc-dc-org-footer h2 {
  font-size: 1.35em;
  flex-basis: auto;
}
.block-bc-dc-org-footer img {
  max-width: 80px !important;
  max-height: 80px !important;
  height: auto;
}
.block-bc-dc-org-footer img[src*=".svg"] {
  width: 80px;
}
.block-bc-dc-org-footer .field--name-field-footer-links {
  width: 100%;
  padding-top: 0.15em;
}
.block-bc-dc-org-footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.75em 1em;
}
@media only screen and (min-width: 992px) {
  .block-bc-dc-org-footer ul {
    flex-direction: row;
  }
}
.block-bc-dc-org-footer ul li {
  flex-basis: calc(33.3333333333% - 1em);
}
.block-bc-dc-org-footer ul li a,
.block-bc-dc-org-footer ul li a:hover,
.block-bc-dc-org-footer ul li a:focus,
.block-bc-dc-org-footer ul li a:visited {
  color: #fff;
}
.block-bc-dc-org-footer ul li a,
.block-bc-dc-org-footer ul li a:visited {
  text-decoration: none;
}
.block-bc-dc-org-footer ul li a:hover,
.block-bc-dc-org-footer ul li a:focus {
  text-decoration: underline;
}

.bcbb-theme .clipboardjs-button {
  background-image: none;
}
.bcbb-theme .clipboardjs-button .tooltip {
  opacity: 1;
}
.bcbb-theme footer a {
  font-size: 0.87em;
}
.bcbb-theme .block-system-breadcrumb-block {
  margin-top: 1em;
}

time {
  white-space: nowrap;
}
