# Ignore Drupal core & scaffolded files
html/*
!html/modules/
html/modules/*
!html/modules/custom/
!html/themes/
html/themes/*
!html/themes/custom/

# Ignore Composer vendor folders
vendor
*/*/*/vendor
*/*/vendor

# Ignore Development Files
.env
.idea
*.backup
*.ddev
*.diff
*.DS_Store
*.err
*.log
*.orig
*.prettierignore
*.rej
*.sass-cache
*.swo
*.swp
*.vi
compass_app_log.txt
ddev-cron-log.txt
*.css.map

# SASS
.sass-cache
*.sass-cache*
**/sass/*.css

# Ignore Exports
*.gz
*.sql
*.zip

# Ignore Private Files
private
