.path-frontpage {

  .region-content {

    margin-top: 3em;
    margin-bottom: 2em;

    .layout__region--first {
      @include responsive {
        padding-right: 3rem;
      }
    }

    .layout__region--second {
      background-color:  RGBA(var(--bs-light-rgb));
      border: var(--bs-border-width) solid var(--bs-border-color-translucent);
      border-radius: var(--bs-border-radius);
      padding: 2rem 1.5rem 3rem;
      // this media query comes from the default stable theme 2 col layout
      @media screen and (min-width: 40em) {
        background-image: url(../assets/trees.svg);
        background-size: contain;
        background-repeat: repeat-x;
        background-position: center bottom;
      }
      .bcbb-search-api-form {
        .form-item-search-keyword {
          label {
            font-weight: bold;
          }
        }
        .description {
          position: absolute;
          padding-top: .5em;
          font-size: 1em;
        }
      }
    }



  }

}
