.path-frontpage {

  // hide breadcrumbs on home. This should be investigated, it twig
  // there should be no html generated here if there are no breadcrumbs
  .bcbb-breadcrumbs {
    display:none;
  }
  .bcdc-main-region {
    padding: 0;
  }

  .header-region {
    $bannerHeightMax: 180px;
    $bannerHeightMin: 80px;
    margin: 0px calc(50% - 50vw);
    margin-top: 0 !important;
    background: rgb(8, 49, 85);
    .block-system-branding-block {
      width: 100%;
      margin: 0 auto;
      > div > div {
        width: 100%;
      }
      
      .site-title {
        height: $bannerHeightMin;
        display: grid;
        width: 100%;
        grid-template-columns: auto 1fr;
        align-items: center;
        @include responsive() {
          height: $bannerHeightMax;
          &:after {
            content: "";
            display: block;
            height: $bannerHeightMax;
            background-image: url(../assets/data-cat.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 75% center;          
          }
        }     
      }
    }
    * {
      color: white !important;
    }
    
  } 

}
