// grid layout for metadata record
.grid-dc-container {

  @include responsive($lg-min) {
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      "content . bookmark"
      "content . sidebar-right"
      "content . sidebar-right"
  }

}

.grid-mr-bookmark {
  grid-area: bookmark;
}

.grid-dc-content {
  grid-area: content;
}

.grid-dc-sidebar-right {
  grid-area: sidebar-right;
}

// layout for dashboard

.path-user {
  .block-region-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include responsive {
      height: 100%;
    }
  }
}

.path-taxonomy {
  .content {
    margin-bottom: 1.37em;
    .info-schedule-details,
    .field--name-description {
      margin-top: 1.25em;
    }
  }
}

// Header layout
.bcbb-header-branding.bcbb-header-search.bcdc-nav {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5em;
  grid-template-areas:
    "branding nav"
    "search search";
    @include responsive($lg-min) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
      "branding search nav";
    }
  .region-branding {
    grid-area: branding;
  }
  
  .region-nav-main {
    grid-area: nav;
  }
  
  .region-search {
    grid-area: search;
  }

}

// footer layout
.bcbb-footer {
  .container {
    .region-footer {
      // use a grid if there is an org on the footer
      &:has(.block-bc-dc-org-footer) {
        @include responsive($lg-min) {
          display: grid;
          gap: 2em;
          grid-template-columns: 2fr 1fr;
        }
      }
    }
  }
}



