// Use this to override styles provided by
// themes and modules
.bcbb-theme {
  .clipboardjs-button {
    background-image: none;
      .tooltip {
        opacity: 1;
    }
  }
  footer {
    a {
      font-size: .87em;
    }
  }

  .block-system-breadcrumb-block {
    margin-top: 1em;
  }

}
