// Use this to override styles provided by
// themes and modules
.bcbb-theme {
  .clipboardjs-button {
    background-image: none;
      .tooltip {
        opacity: 1;
    }
  }
  footer {
    a {
      font-size: .87em;
    }
  }

  .block-system-breadcrumb-block {
    margin-top: 1em;
  }

}

time {
  white-space: nowrap;
}

// Hidden form controls are un-hidden by Bootstrap. Restore them as hidden.
.form-control.hidden {
  display: none;
}


//change heigth of logo link in header
html.bcbb-theme a img.site-logo {
  height: 30px;
  max-height: 40px;
  @include responsive() {
    height: 40px;
  }
}

