.page-node-type-data-set {
  $max-cpl: 45em;

  .field--label-above,
  .field--label-inline {
    margin-top: 0.5em;
  }

  // node view
  .dc-details {
    details {
      border: 0 solid transparent;
    }
  }

  .dc-dictionary {

    padding-right: 1.25em;

    .field {
      margin-bottom: 1.5em;
    }

    &:last-child {
      border-bottom: 1px solid var(--bs-dark-border-subtle);
    }

    .field__label {
      font-weight: normal;
      font-style: oblique;
    }

    .field--label-inline {
      display: flex;
      flex-direction: column;
      .field__label {
        &::after {
          content: "";
        }
      }
      @include responsive($lg-min) {
        flex-direction: row;
        .field__label {
          min-width: 25%;
          max-width: 25%;

          &::after {
            content: ":";
          }
        }
      }
    }

  }

  .field--name-field-related-document {
    code {
      color: var(--bs-gray-700);
    }
  }

  .meta-data-record-view,
  .meta-data-record-build {

   .field--name-field-data-set-type {
     * {
       margin: 0 !important;
       padding: 0 !important;
       line-height: 1em;
       &.field__label {
         padding-right: .5em !important;
       }
       li::after {
         margin: 0 .25em;
       }
     }
   }

  }

  .field--name-field-data-custodian {

    .field__label {
      font-weight: normal;
    }

  }

  .dc-subfooter {
    background: var(--bs-gray-100);
    border-top: 1px solid var(--bs-gray-200);

    .container {
      padding: 1em 1em 1.5em 1em;
    }

  }

  .node--view-mode-full {

    .block-bc-dc,
    .dataset-alerts {
     display: inline-block;
      @include responsive {
        margin-bottom: .5rem;
      }
      // adjust high value icon size so it doesn't resize the badge
      .icon-bi-award-fill::before {
        font-size: .765em;
      }
    }

  }

  // search icon only on MR
  a[href^="/search?"] {
    background-image: url(../assets/icon_search_link.svg);
    background-repeat: no-repeat;
    padding-right: 1.4em;
    background-position: right .15em;
    background-size: 1em 1em;
  }

  // build page
  .meta-data-record-build {

    // Layout.
    @include responsive($lg-min) {
      display: grid;
      grid-template-columns: 7fr 4fr;
      grid-template-rows: auto 1fr;
      column-gap: 6em;
      grid-template-areas:
        "main top-right"
        "main bottom-right";
      .header-region {
        grid-area: top-right;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
      .main-region {
        grid-area: main;
      }
      .footer-region {
        grid-area: bottom-right;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
    .main-region {
     > section {
      border-bottom: 1px solid var(--bs-gray-300);
      padding-bottom: 1.5em;
      margin-bottom: 1.5em;
      &:last-child {
        border-bottom: 0 transparent;
      }
      //layout for each section
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
      "header"
      "content"
      "action";
      @include responsive() {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        column-gap: 2em;
        grid-template-areas:
        "header action"
        "content action";
      }
      h2 {
        grid-area: header;
      }
      div.node {
        grid-area: content;
      }
      div.edit-section-btn {
        grid-area: action;
        .btn {
          width: 100%;
          margin: 1.25em auto;
          @include responsive() {
            width: auto;
            margin: .5em 0 0;
          }
        }
      }
     }
    }
  }


  .block-bc-dc-workflow-block {
    background-color:  RGBA(var(--bs-light-rgb));
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius);
    padding: 1rem;
    margin: 1.5em 0;
    input.button {
      width: 100%;
    }
  }

  // Edit buttons
  .block-bc-dc-edit-button {
    margin-bottom: 0.5em;
    display: grid;
    & > *:first-child {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    & > *:last-child {
      grid-column-start: 2;
      grid-row-start: 1;
      justify-self: end;
    }
  }

  // form elements in build sections
  .node-data-set-edit-form {

    > div  {
      margin-bottom: 2em;
    }

    label:not(.option) {
      font-weight: bold;
    }

    input,select {
      max-width: $max-cpl;
    }

    .form-actions {
      text-align: left;
    }

    .description {
      $descColor: var(--bs-gray-600);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{svg-color($descColor)}' class='bi bi-info-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16'/%3E%3Cpath d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0'/%3E%3C/svg%3E%0A");
      margin-top: .25em;
      background-repeat: no-repeat;
      background-size: 1em 1em;
      background-position: 0 .27em;
      padding-left: 1.5em;
      color: $descColor;
      max-width: $max-cpl;
      line-height: unset !important;
    }

    .field--name-field-review-interval {
      label {
        width: 100%;
      }
      .form-number,
      .field-suffix {
        display: inline;
        max-width: 6em;
      }
    }

    #edit-field-personal-information {
      display: flex;
      gap: 1em;
    }

    .dc-mr-contact-information,
    .edit-data-dictionary-column,
    .field--name-field-data-sets-used,
    .field--name-field-related-document {
      background: var(--bs-gray-100);
      border: 1px solid var(--bs-gray-200);
      padding: 1em;
      border-radius: var(--bs-border-radius-sm);
      > div {
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid var(--bs-gray-200);
        &:last-child {
          border-bottom: 0;
        }
      }

      th,td {
        background-color: transparent;
        border: 0 transparent;
      }
      .field-add-more-submit {
        background-color: var(--bs-gray-700);
        color: var(--bs-white);
        &:hover,
        &:focus {
          background-color: var(--bs-gray-800);
        }
      }
    }

    .field--name-field-related-document {
      .paragraphs-subform {
        @include responsive($lg-min) {
          display: flex;
          gap: .5em;
        }
      }
      .paragraph-summary {
        grid-column-start: 1;
      }
      #edit-field-related-document--description {
        margin-bottom: .5em;
        margin-top: 1.5em;

      }
      .delta-order {
        padding-left: .5em;
        width: 4em;
      }
    }

    .paragraphs-actions {
      display: inline-flex;
      gap: .5em;
    }

    .dc-mr-contact-information {
      .fieldset-legend {
        font-size: 20px;
        font-weight: bold;
      }
      label {
        font-weight: normal;
      }
    }
    #edit-add-columns-link {
      margin-bottom: 1em;
    }
  }

  /* On Metadata record column edit pages, make the summary take the full width.*/
  [id*="field-columns-"] .paragraph-summary {
    grid-column-start: 1;
  }
}

.node--unpublished {
  background-color: transparent;
}
