@mixin dc-grid-2col-operations($size: $sm-min) {
  @media only screen and (min-width: $size) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1.5em;
  }
}

.dc-grid-2col-operations-lg {
  @include dc-grid-2col-operations($lg-min);
}

.path-user{

  %dc-view-row {
    .flag-bookmark {
      margin-top: 1.67em;
    }
    @include dc-grid-2col-operations($lg-min);
    @include responsive($lg-min) {
      .flag-bookmark {
        margin-top: auto;
      }
    }
    padding: .75em 1.5em;
    &:last-child {
      padding-bottom: 0;
    }
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    &:last-child {
      border-bottom: 0 !important;
      margin-bottom: 4em;
    }
  }

  .card-group-region {

    .block-views-blockbookmarks-dashboard-bookmarks {
        > h2 {
          @include icon-bi($bi-bookmarks-fill);
        }
    }

    .block-views-blocksaved-searches-dashboard-saved-search {
        > h2 {
          @include icon-bi($bi-search);
        }

        .btn {
          font-size: $small;
          @include responsive-down($lg-min) {
            margin-top: 1em;
            padding: .15em .5em;
          }
        }
    }

    .card {
      display: flex;
      flex-direction: column;

      > h2 {
        font-size: 1.2em;
        padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
        margin-bottom: 0;
        color: var(--bs-card-cap-color);
        background-color: var(--bs-card-cap-bg);
        border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
        margin-left: 0;
        padding: .75em 1.5em .75em 2.5em;
      }

      > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        > .view {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          .view-content {
            font-size: $small;
            flex-grow: 1;
            .view-row {
              @extend %dc-view-row;
            }
          }
        }
      }

      .view-footer {
        .card-footer {
          font-size: $small;
          padding: .75em 1.5em;
        }
      }
    }
  }

  .dashboard-page {

    .views-exposed-form {
      .form--inline {
        @include responsive($lg-min) {
          display: flex;
          align-items: flex-end;
        }
      }
    }

    .view-row {
      @extend %dc-view-row;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
