// style links for user menu
.region-nav-main {
  font-size: $headerText;
  $localColor: var(--bs-gray-900);
  $iconColor: $localColor;
  $borderColor: $localColor;
  $hoverColor: var(--bs-gray-200);
  ul[data-block="nav_main"] {
    // layout the menu
    display: flex;
    flex-direction: row;
    gap: .5em;
    li {
      a {
        // make user menu links square with icons on mobile
        display: block;
        border: 1px solid $borderColor;
        border-radius: var(--bs-border-radius-sm);
        @include  responsive() {
          border-radius: var(--bs-border-radius);
        }
        color: $localColor;
        background-repeat: no-repeat;
        background-size: 1.25em 1.25em;
        &:hover,
        &:focus,
        &:active {
          background-color: $hoverColor;
        }
          // node/3 is the documentation on all environments
          // if the path to docs changes, this will need to be update
          &[data-drupal-link-system-path="node/3"],
          &[data-drupal-link-system-path="user"],
          &[data-drupal-link-system-path="user/logout"] {
            text-indent: -9999px;
            height: 2.5em;
            width: 2.5em;
            overflow: hidden;
            background-position: center center;
            @include responsive($lg-min) {
              width: auto;
              height: auto;
              overflow: auto;
              text-indent: 0;
              padding-right: 2em;
              background-position: calc(100% - 0.25em) center;
            }
          }
          // specify icons per link type
          &[data-drupal-link-system-path="node/3"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='#{svg-color($iconColor)}' d='M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E%0A");
          }
          &[data-drupal-link-system-path="user"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{svg-color($iconColor)}' class='bi bi-speedometer' viewBox='0 0 16 16'%3E%3Cpath d='M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2M3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707M2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8m9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5m.754-4.246a.39.39 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.39.39 0 0 0-.029-.518z'/%3E%3Cpath fill-rule='evenodd' d='M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.95 11.95 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0'/%3E%3C/svg%3E");
          }
          &[data-drupal-link-system-path="user/logout"] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{svg-color($iconColor)}' class='bi bi-box-arrow-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z'/%3E%3Cpath fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z'/%3E%3C/svg%3E");
          }

      }
    }
  }

  // make log in with IDIR form look like user menu links
  .openid-connect-login-form {
    input[type="submit"] {
      background: transparent;
      padding: .5rem 2em .5rem .5rem;
      border-radius: var(--bs-border-radius-sm);
      border: 1px solid $borderColor;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      background-repeat: no-repeat;
      background-size: 1.25em 1.25em;
      background-position: calc(100% - 0.25em) center;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{svg-color($iconColor)}' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6'/%3E%3C/svg%3E");
      &:hover,
        &:focus,
        &:active {
          background-color: $hoverColor;
        }
    }
  }

}

// style links in the footer
.region-footer {
  a {
    color: var(--bs-gray-400) !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover,
    &:focus,
    &:active {
      color: var(--bs-gray-200) !important;
    }
  }
}
