// This overrides the default search bar style brought in by the BC base-build theme

.page-node-type-book,
.path-documentation {
  .region-content,
  .bcdc-book-search,
  .region-sidebar-second {


    // override default search so submit uses text instead of icon
    input.bcbb-search-submit-icon {
      margin-top: .75em;
      border-radius: var(--bs-btn-border-radius) !important;
      // make input wide enough for text
      width: auto;
      // make label visible
      text-indent: initial;
      // remove the icon
      background-image: none;
      &:hover,
      &:focus {
        background-image: none;
      }
      //make input look like a button
      color: var(--bs-btn-color);
      background-color: var(--bs-btn-bg);
      border-color: var(--bs-btn-border-color);
      border-radius: var(--bs-btn-border-radius);
      &:hover,
      &:active,
      &:focus {
        color: var(--bs-btn-hover-color);
        background-color: var(--bs-btn-hover-bg);
        border-color: var(--bs-btn-hover-border-color);
      }
    }



    // make reset button look like all the other reset buttons
    .btn.btn-danger {
      background-color: $colorAlert-error;
      border: none;
      border-radius: var(--bs-btn-border-radius);
      padding: .45rem .75rem;
      margin-top: 0.75em;
      width: fit-content;
      &:hover,
      &:active,
      &:focus {
        background-color: var(--bs-btn-hover-bg);
      }
    }
  }

  .region-sidebar-second,
  .bcdc-book-search-page {
    .block-bcbb-search form {
      grid-template-columns: auto 1fr;
      margin-bottom: 1em;
    }
    //make text input full width of the column, wrapping buttons below
    .form-item-search-keyword {
      grid-column: span 2;
      input {
        border-right: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius);
      }
    }
  }

  .region-content {
    .block-bcbb-search form {
      input.form-submit {
        border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
      }
    }
  }

  // move divider line so it is between content and search/nav
  .node__content  {
    nav.book-navigation {
      border-top: none;
      margin: 0;
    }
    > .block-bcbb-search-api-block {
      border-top: 1px solid $colorBrand-secondary;
      margin: 1.5em 0 0;
      padding: 1.5em 0 0;
    }
  }
}



.region-search {
  input,
  input::placeholder {
    // make search input text the same size as the navigation links
    font-size: $headerText;
  }
}
