.dc-2col-table {
  .dc-table-row {
    .dc-table-col-last {
      width: 25%;
    }
  }
  caption {
    font-weight: 600;
    font-size: 1.25em;
  }

  table {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: auto;
    }
  }
}

.views-table {
  tbody {
    tr {
      td {
        padding: 1em .5em 1.5em;
      }
    }
  }
}
// size the last row to fit contents
.dc-table-row-has-actions {
  tr {
    td {
      &:last-child {
        white-space: nowrap;
      }
    }
  }
}
