 /* For Highlighting the Download form box  */

.form-canonical {
  border: black solid 1px;
}

.form-canonical span {
  font-weight: bold;
}

.form-canonical span.form-name {
  font-weight: normal;
  font-size: smaller;
  display: inline-block;
  margin-bottom: .5em;
}



/* For the "Copy URL" button. */

.copy_grouping {
  margin-top: 1em;
}

.copy_grouping div {
  position: relative;
  display: inline-block;
}

.text_copy_button {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: small;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-image: none; */
  border: 1px solid transparent;
  border-radius: 4px;
  color: #444;
  border-color: #00000000;
}

.text_copy_button:hover {
  color: #000;
  border-color: #ccc;
}

/* Stuff for both tooltip boxes. */
div .forms_link_tooltip {
  visibility: hidden;
  width: max-content;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
}

div.text_copy_button .forms_link_tooltip {
  transition: 50ms;
  transition-delay: 150ms;
  }

div.text_to_copy .forms_link_tooltip {
  left: 10%;
  z-index: 2;
}

.text_copy_button.copy_button_clicked > .forms_link_tooltip,
.text_to_copy:hover .forms_link_tooltip {
  transition-delay: 0ms;
  visibility: visible;
  opacity: 1;
}

.text_to_copy:hover {
  background-color: #00000010;
}

/* This makes the little pointy spot on the bottom of the tooltip box. */
div .forms_link_tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}



/* Make two rows appear as one: When you expand a form's details,
   that appears in a new table-row, but we want the hover-effects to
   happen together. */
.table tr.form-name-row.form-hover,
.table tr.collapse.show.form-hover {
  background-color: rgba(0, 0, 0, .075);
}

.table tr.collapse.show td {
  border-top: none;
}
