// Top Bar
//
.top-bar {
  background-color: $top-bar-bg;
  border-bottom: 1px solid $top-bar-border-bottom;
  padding: .5rem 0;

  .menu,
  .links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .875rem;

    li {
      display: block;
      margin: 0;
      padding: 0 .5rem;
      border-left: 1px solid $top-bar-border-deviders;
      line-height: 1;
      &:first-child {
        border-left: none;
        padding-left: 0;
      }

      a {
        display: block;
        color: $top-bar-link-color;
        text-decoration: none;
        transition: color .15s ease-in-out;
        &:hover,
        &.is-active {
          color: $top-bar-link-hover;
        }
      }
    }
  }
}
