.block-bc-dc-org-footer {
  margin-bottom: 1.15em;
  color: #fff;
  border-bottom: 1px solid var(--bs-gray-400);
  @include responsive($lg-min) {
    border-right: 1px solid var(--bs-gray-400);
    padding-right: 1.5em;
    border-bottom: none;
  }

  .bcdc-org-has-image {
    @include responsive($lg-min) {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1em;
    }
  }

  h2 {
    font-size: 1.35em;
    flex-basis: auto;
  }

  img {
    max-width: $imgSizeOrg !important;
    max-height: $imgSizeOrg !important;
    height: auto;
    &[src*=".svg"] {
      width: $imgSizeOrg;
    }
  }

  .field--name-field-footer-links {

    ul {
      list-style: none;
      padding-left: 0;
      @include responsive($lg-min) {
        margin-left: calc($imgSizeOrg + 1em);
      }
     
      li {
        padding: .5em 0;
      }
    }
  }
}
