/**
 * Style fields on the node add/edit forms.
 */
#block-gin-primary-local-tasks,
#block-gin-help,
#block-gin-content {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.media-form .field--name-name .form-element {
  font-size: var(--gin-font-size-h3);
  font-weight: var(--gin-font-weight-semibold);
  line-height: normal;
  letter-spacing: -0.025em;
  width: 100%;
}

#edit-field-gallery-ajax-wrapper .form-type--textfield .form-item__description,
#edit-field-gallery-ajax-wrapper .tabledrag-toggle-weight-wrapper {
  display: none;
}

#edit-title-wrapper .form-item {
  margin-top: 0;
}

/**
 * Fix workflow buttons.
 */
span.submit-trash {
  display: none;
}

.submit-trash.button {
  left: 0 !important;
}

#edit-gin-sidebar .form-actions {
  display: none;
}
