// global navigation styles
html.bcbb-theme {

//logo link to home in header
  a.site-logo img {
    height: 30px;
    max-height: 40px;
    @include responsive() {
      height: 40px;
    }
  }

  // main menu nav
  nav.menu--main ul.navbar-nav {
    a.nav-link {
      color: $colorTextLink;
        &:hover,
        &:focus {
          color: $colorTextLink-hover;
        }
        &:active,
        &:visited {
          color: $colorTextLink;
        }
    }
  }

  // breadcrumbs navigation
  .bcbb-breadcrumbs {
    border-bottom: 1px solid var(--bs-gray-200);
    margin-bottom: 2em;
  }

  // footer nav
  nav.menu--footer ul.navbar-nav {
    display: block;
      @include responsive() {
        columns: 2;
        gap: 4rem;
      }
      a.nav-link {
        color: var(--bs-gray-100);
        text-decoration: underline;
          &:hover,
          &:focus {
            color: var(--bs-gray-200);
          }
          &:active,
          &:visited {
            color: var(--bs-gray-100);
          }
      }
  }

  // book navigation
  .book-navigation {
    border-top: 1px solid $colorBrand-secondary;
    margin: 1.5em 0 0;
    padding: 1.5em 0;
  }
  ul.bb-nav-book {
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      li {
        a {
          display: flex;
          height: 100%;
          align-items: center;
        }
        &:first-child {
          a {
            justify-content: flex-start;
            text-align: start;
          }
        }
        &:last-child {
          a {
            justify-content: flex-end;
            text-align: end;
          }
        }
      }
  }
  .block-book-navigation {
    @include responsive() {
      margin-top: 3.5em;
    }
  }


}
